@charset "UTF-8";


.formContent{
	display: flex;
	flex-direction: column;
	margin: 30px auto;
	align-content: center;
	justify-content: center;
}

.formContent h1{
	text-align: center;
}


.formContent button{
	background: #476730;
    cursor: pointer;
    padding: 10px;
    border-radius: 120px;
    border: 0px;
    color: #E3E3DC;
	width: 200px;
	display: block; /* 讓按鈕變為塊級元素 */
    margin: 25px auto 0px auto; /* 水平置中 */
}

.formContent fieldset{
	width: 400px;
	margin: 15px 0px;
	padding: 15px 0px;
}



.form-detail{
	width: 85%;
	height: 50px;
	display: flex;
	flex-direction:row;
    align-items: center; /* 使 label 和 input 垂直居中 */
    margin: 15px auto;
    gap: 15px;
}

.row-title{
	flex: 1.5;
	align-self: center;
  	text-align: right;
}

.sign-row-title{
	flex: 0.8;
	align-self: center;
  	text-align: right;
}

.row-content{
	flex: 2;
	align-self: center;
	display: flex;            /* 使用 Flexbox */
    align-items: center;       /* 垂直置中 */
    justify-content: start;   /* 水平置中 */
    gap: 10px;                 /* 在輸入框和驗證碼之間添加一些間距 */
}


.form-detail input{
	width: 200px;
	height: 30px;
	border: 1px solid #476730;
}

.hint{
	font-size: 14px;
	background-color:#e6dd9c;
	padding: 5px;
	margin: 5px auto;
}

#toggleLoginPwd{
	width: 30px;
  	position: absolute;
  	top: 47%;
  	transform: translateY(-55%);
  	right: 34%;
}

#toggleSignupPwd{
	width: 30px;
  	position: absolute;
  	top: 25.5%;
  	transform: translateY(-55%);
  	right: 34%;
}

#toggleOldPwd{
	width: 30px;
  	position: absolute;
  	top: 89%;
  	transform: translateY(-55%);
  	right: 42.2%;
}

#toggleNewPwd{
	width: 30px;
  	position: absolute;
  	top: 103.5%;
  	transform: translateY(-54%);
  	right: 42.2%;
}




#LoginCaptcha, #SignupCaptcha{
	width: 120px;
	height: 30px;
	margin: auto 5px;
}






/* .form-detail label{
	float: left;
	width: 30%; 分配 label 寬度，確保統一
    text-align: right; 使 label 靠右對齊
    padding-right: 10px; label 和 input 之間留點空間
    
}

.form-detail input{
	width: 200px;
	height: 30px;
	border: 1px solid #476730;
}

.form-detail span{
	margin-right: 10px;
} */






/*
.check-subscribed{
	text-align: center;
}
*/

.link-wrapper{
	text-align: center;
	margin-top: 20px;
}

.f-pwd{
	display:inline-block;
	padding: 0px 10px;
}

.signup{
	display:inline-block;
	padding: 0px 10px;
}

.f-pwd:hover{
	color: #f04624;
	text-decoration: underline;
}

.signup:hover{
	color: #f04624;
	text-decoration: underline;
}

.login-a:hover{
	color: #f04624;
	text-decoration: underline;
}

#theRadio{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#theCheckbox{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#theErrorsDiv{
	color:darkred;
	background-color:lightgray
}


