@charset "UTF-8";


.formContent{
	display: flex;
	flex-direction: column;
	margin: 30px auto;
	align-content: center;
	justify-content: center;
}

.formContent h1{
	text-align: center;
}


.formContent button{
	background: #476730;
    cursor: pointer;
    padding: 10px;
    border-radius: 120px;
    border: 0px;
    color: #E3E3DC;
	width: 200px;
	display: block; /* 讓按鈕變為塊級元素 */
    margin: 25px auto 0px auto; /* 水平置中 */
}

.formContent fieldset{
	width: 400px;
	margin: 15px 0px;
	padding: 15px 0px;
}



.form-detail{
	display: flex;
	flex-direction:row;
    align-items: center; /* 使 label 和 input 垂直居中 */
    margin-bottom: 20px; /* 每個欄位之間的間距 */
}

.form-detail label{
	float: left;
	width: 30%; /* 分配 label 寬度，確保統一 */
    text-align: right; /* 使 label 靠右對齊 */
    padding-right: 10px; /* label 和 input 之間留點空間 */
    
}

.form-detail input{
	width: 200px;
	height: 30px;
	border: 1px solid #476730;
}

.form-detail span{
	margin-right: 10px;
}


#toggleLoginPwd, #toggleSignupPwd, #toggleOldPwd, #toggleNewPwd{
	width: 30px;
}


#LoginCaptcha, #SignupCaptcha{
	width: 120px;
	height: 30px;
	margin: 0px 0px 0px 10px;
}

.check-subscribed{
	display: flex;
	justify-content: center;
}


.link-wrapper{
	text-align: center;
	margin-top: 20px;
}

.f-pwd{
	display:inline-block;
	padding: 0px 10px;
}

.signup{
	display:inline-block;
	padding: 0px 10px;
}

.f-pwd:hover{
	color: #f04624;
	text-decoration: underline;
}

.signup:hover{
	color: #f04624;
	text-decoration: underline;
}

.login-a:hover{
	color: #f04624;
	text-decoration: underline;
}

#theRadio{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#theCheckbox{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#theErrorsDiv{
	color:darkred;
	background-color:lightgray
}

