@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/*
colorPalettes{
	color: #d95834;
	color: #e6dd9c;
	color: #e3e3dc;
	color: #476730;
	color: #0b4227;
}
*/


body{
	color:#0b4227;
	font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: #E3E3DC;
	min-height: 100vh;
	margin: 0;
}

.pageContent{
	padding: 90px 0px;
}

.topInfoWrapper{
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.topTitle{
  	flex-grow: 1;	
}

.filterWrapper{
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
	padding: 0px 50px;
	
}

.filterSelectWrapper{
	min-height: 1vw;
  	float: left;
  	flex-grow: 1;
}

.filterTimeWrapper{
	min-height: 1vw;
	flex-grow: 1;
}


.banner{
	width: 100%;
}

.iconDropDown{
	
}

.noData{
	width: 100%;
}

.noData h3{
	
}

.noData img{
	width: 100px;
	height: 100px;
}






