@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/*
colorPalettes{
	color: #d95834;
	color: #e6dd9c;
	color: #e3e3dc;
	color: #476730;
	color: #0b4227;
}
*/


body{
	color:#0b4227;
	font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: #E3E3DC;
	min-height: 100vh;
	margin: 0;
}

.pageContent{
	padding-top: 100px;
}

.breadCrumbs{
	width: 80%;
	margin: 0px auto;
	
}

.breadCrumbs ul{
	list-style: none;
	color: inherit;
	padding: 0px;
}

.breadCrumbs li{
	display: inline-block;
	font-size: 1vw;
  	line-height: 1.5;
  	letter-spacing: 1.2px;
  	text-align: left;
  	color: #333; 	
}

.breadCrumbs li a{
	text-decoration: none;
	color: #476730;
}

.topInfoWrapper{
	display: flex;
	align-items: center;
    width: 100%;
   margin: 0px auto;
}

.topTitle{
  	flex-grow: 3;	
}

.filterWrapper{
	display: flex;
}

.filterSelectWrapper{
	min-height: 1vw;
  	flex-grow: 1;
  	margin: auto 20px;
}

.filterTimeWrapper{
	min-height: 1vw;
	flex-grow: 1;
	margin: auto 20px;
}


.share-wrapper{
	margin-top: 25px;
	text-align: end;
}

.share-wrapper p{
	display: inline-block;
	vertical-align: middle;
}

.share-wrapper li{
	list-style: none;
	display: inline-block;
}

.socialIcon {
    width: 30px;
    height: 30px;
    margin: 0 15px;
    vertical-align: middle;
}


.tabs {
  overflow: hidden;
  margin-top: 30px;
}

.tab-button {
	background-color: #476730;
  	border: none;
  	cursor: pointer;
  	padding: 10px 20px;
  	font-size: 16px;
  	margin-right: 5px;
  	font-family: inherit;
  	color: #e3e3dc;
}

.tab-button:hover {
  background-color: #f04624;
}

/* tab的樣式 */
.active-tab {
  background-color: #f04624;
}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
}


.accordion {
  background-color: #eee;
  color: #0b4227;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 16px;
  transition: 0.4s;
  font-family: inherit;
}

.active, .accordion:hover {
  background-color: #e6dd9c;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.iconDropDown{
	
}

.noData{
	width: 100%;
	text-align: center;
}

.noData h3{
	
}

.noData img{
	width: 50%;
}






