@charset "UTF-8";

header{
	margin: 0;
	background-color: #476730;
	opacity: 0.8;
	width: 100%;
	padding: 10px;
	position: fixed; /* 固定在頁面頂部 */
    top: 0;
	z-index: 1000; /* 確保 header 位於頁面最上層 */
}

.headerContent{
	width: 90%;
	margin: 0 auto;
	display: flex;
  	align-items: center;
}


.menu {
	display: inline-block;
	width: 28%;
	text-align: center;
}


.menu a{
	margin-right: 15px;
	text-decoration: none;
	color:#E3E3DC;
}

.logo{
	display: inline-block;
	width: 42%;
	text-align: center;
}

.logo h2 a{
	text-decoration: none;
	color:#E3E3DC;
}


.headerActions{
	display: inline-block;
	width: 28%;
	text-align: right;
	
}

.cartButton{
	color:#E3E3DC;
	text-decoration: none;
	margin-bottom: 15px;
	cursor: pointer;
	display: block;

}

.searchForm{
	display: block;
	
}


