@charset "UTF-8";


.indexContent{
	display: flex;
	flex-direction: column;
	text-align: center;
}

#indexKV{
	width: 100%;
	height: 100%;
	position: relative; /* 保持 banner 在 header 下方顯示 */
    z-index: 0; /* 確保 banner 位於 header 下層 */
}


.newsList{
	width: 100%;
	height: 300px;
	background-color: lightgray;
	margin: 50px auto;
}

.productList{
	width: 100%;
	height: 300px;
	background-color: lightgray;
	margin: 50px auto;
}