@charset "UTF-8";

.order-content{
	width: 70%;
	margin: 50px auto;
	min-height: 80vh;
}

.orderInfoList{
	margin: 50px auto;
}

.search-time-btn, .order-detail-btn{
	font-family: inherit;
	display: inline-flex; 
    margin: 10px;
	background: #476730;
    cursor: pointer;
    padding: 10px;
    border-radius: 120px;
    border: 0px;
    color: #E3E3DC;
	width: 100px;
}

.order-payment-type{
	font-size: 14px;
  	margin-top: 10px;
}
