@charset "UTF-8";


.productContent{
	width: 88%;
	margin: 50px auto;
	display:flex;
	flex-direction: row;
	
}

#banner-outer{
	position: relative;
	width: 753px;
	overflow: hidden;
	margin: auto;
}

#banners{
	position: relative;
	width: 6024px;
	display: flex;
	left:-753px;
}


.banner{
	width: 753px;
}


#prev, #next {
	position: absolute;
	width: 30px;
	height: 100%;
	color: #f04624;
	cursor: pointer;
	font-size: 3em;
	top: 35%;
	opacity: 0.5;
}

#prev {
	left: 0px;
}

#next {
	right: 0px;
}

#prev:hover, #next:hover {
	opacity: 0.9;
}

#dots {
	width: 250px;
	/*(16+5x2)x5=130px*/
	margin: auto;
	display: flex;
}

.dot {
	width: 16px;
	height: 16px;
	background-color: gray;
	border-radius: 50%;
	margin: 5px;
}

.dot:first-child {
	background-color: white;
}


.productContent section{
	flex-grow: 1;
	width: 15%;
	text-align: center;
	padding: 0px 25px 0px 0px;
	display: inline-block;
}

.category{
	margin-bottom: 25px;
	vertical-align: middle;
}

.category h3{
	display: block;
	align-content: center;
	margin: 5px auto;
	color: #0b4227;
}

.category hr{
	width: 100px;
	display: block;
	align-content: center;
	margin: 10px auto;
	border: 0.5px solid #0b4227;
}

.category a{
	display: block;
	text-decoration: none;
	margin: 5px auto;
	color: #476730;
	width: 150px;
	height:25px;
	border-radius: 120px;
	padding: 3px;
	align-content: center;
}

.productContent section a:hover{
	background-color: #f04624;
	color: #E3E3DC;
}

.productContent article{
	flex-grow: 2;
	margin-left: 50px;
	width: 80%;
	padding: 0px 0px 0px 25px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

#productListDiv{
    margin: 0 auto; /* 將整個容器水平居中 */
}

.productItem{
	display: inline-block;
	float: left;
	width: 250px;
	height: 370px;
	vertical-align: top;
	box-shadow: lightgray 2px 3px;
	margin: 25px ;
	}	/*border: lightgray 1px solid ;*/
	

.productItem a{
	text-decoration: none;
	color: inherit;
}
	
.productItem img{
	width: 250px;
	display: block;
	margin: auto
	}

	
.productItem div{
	text-align: center;
	}