@charset "UTF-8";


.product-content{
	width: 80%;
	margin: 50px auto;
}


.product-detail{
	display: flex;
	padding-bottom: 30px;
	border-bottom: 1px solid lightgray;
}

.product-photo{
	flex: 0.8;
}

.product-photo img{
    width: 100%;
}


.product-info{
	flex: 1.2;
	padding: 0px 35px;
  	line-height: 1.5;
  	letter-spacing: 2px;
}

.product-info h2{
	font-size: 1.8vw;
  	text-align: left;
  	color: #f04624;
  	margin-top: 0px;
}

.product-info div{
	margin-top: 5px;
	margin-bottom:  5px;
}

.product-tags{
	display: inline-block;
}

.product-tags ul{
	margin: 1vw 0;
	list-style: none;
	padding: 0;
}

.product-tags ul li{
	display: inline-block;
	background-color: #0b4227;
	padding: 0.3vw 1.5vw;
	font-size: 1vw;	
	text-align: center;
	color: #fff;
}

.release-date{
	font-size: 0.8vw;
	display: inline-block;
	float: right;
}


.product-desc {
	font-size: 1.2vw;
}

.total-stock{
	display: inline-block;
}

.can-buy-stock{
	display: inline-block;
	margin-left: 35px;
}


.u-price-st{
	text-decoration: line-through;
	text-decoration-color: #f04624; 
	text-decoration-thickness: 2px;
	
}

.discount-string{
	display: inline-block;
}

.s-o-price{
	display:inline-block;
	margin-left: 30px;
	font-size: 1.5vw;
  	color: #f04624;
}

.u-price{
	margin-left: 30px;
	font-size: 1.5vw;
  	color: #f04624;
}




.tabs {
  overflow: hidden;
  margin-top: 30px;
}

.tab-button {
  background-color: #f1f1f1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 5px;
}

.tab-button:hover {
  background-color: #ddd;
}

/* tab的樣式 */
.active-tab {
  background-color: #ccc;
}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
}



/* HIDE RADIO */
.spec input[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 1px;
	height: 1px;
}
			
/* IMAGE STYLES */
.spec input[type=radio] + img {
	cursor: pointer;
}
			
/* CHECKED STYLES */
.spec input[type=radio]:checked + img {
	outline: 3px solid #d95834;
}
			
.spec img{
	width: 80px;
	margin-right: 10px;
	vertical-align: middle;
}