@charset "UTF-8";


.product-content{
	width: 80%;
	margin: 50px auto;
}


.product-detail{
	display: flex;
	
}

.product-photo{
	
}

.product-photo img{
    width: 500px;
}


.product-info{
	margin-left: 50px;
}

.product-info div{
	margin-bottom: 15px;
}